/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.modifier-wrapper {
	display: flex;
	alignItems: center;
	gap: 8px;
}

.checkbox-input {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

.roll-wrapper {
	display: flex;
	alignItems: center;
	gap: 8px;
}

.dice-parent {
	width: 100%;
	height: 100%;
	padding: 1rem;
	flex-direction: column;
	text-align: center;
	display: flex;
}

.dice-parent input,
.dice-parent button {
	display: inline-block;
	width: auto;
	min-width: 8rem;
	padding: 0.5rem 1rem;
	margin: 0.5rem auto;
	text-align: center;
}

.rollView {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.single-roller {
	height: 40vh;
	width: 90%;
	outline: 2px solid rgba(256, 256, 256, 0.4);
	border-radius: 2px;
	margin: 1rem;
	position: relative;
}

.player-label {
	position: absolute;
	margin: 1rem;
}

.popup {
	width: 50%;
	z-index: 3;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 2rem 1rem 1rem 1rem;
	box-sizing: border-box;
}

.close-btn {
	position: absolute;
	cursor: pointer;
	top: 0.5rem;
	right: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	background: none;
	border: none;
}
#rollBtn {
	position: relative;
	cursor: pointer;
	z-index: 2;
}

#roll-input {
	position: relative;
	z-index: 2;
}

#user-list {
	position: relative;
	z-index: 2;
}
